<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>批量自动分析-GeoTagger-njunlp</title>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css" />
</head>
<body  onload="PrintParseTree()">
	<script type="text/javascript" src="../static/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
	
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse navbar-right" >
	  	<div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <a class="navbar-brand" href="./SingleSentenceAnalyze.html">GeoTagger-njunlp</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><a href="./SingleSentenceAnalyze.html">单句分析 <span class="sr-only">(current)</span></a></li>
	        <li><a href="./AddTestPaper.html">添加试题</a></li>
	     	<li><a href="{% url 'TestPaper.BrowseByPaperViews.browseByPaper' %}">选择题（按试卷）</a></li>
	        <li><a href="{% url 'TestPaper.BrowseByTemplateViews.browseByTemplate' %}">选择题（按模板）</a></li>
	        <li><a href="BrowseByPaper.html?papertype=subjective">主观题（按试卷）</a></li>
	        <li><a href="BrowseByTemplate.html?papertype=subjective">主观题（按模板）</a></li>
	        <li><a href="SearchText.html">搜索试题</a></li>
	        <li class="active"><a href="AutoBatchAnalyze.html">批量自动分析</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	
	<div> &nbsp;</div>
	<div class="page-header">
	  	<h1>批量自动分析</h1>
	</div>

		<div class="container">
		<form method="post">
			<table id="paper_table" class="table table-striped table-bordered table-hover js-table">
		         <thead> 
		         <tr>
		         	<th width="20%"></th>
		            <th width="40%">
		             	选择题
		         	</th>	
		         	<th width="40%">
		             	主观题
		         	</th>	            
		         </tr>
		         </thead>
		         <tbody id="body-fjShipChkList">
		            <tr>
		            	<td>【分词】</td>
		            	<td>
		            		{{times.last_auto_seg_time_choice}}
		            		<button type="submit" name="seg_choice" class="btn btn btn-success">批量分析</button>
		            	</td>
						<td>
							{{times.last_auto_seg_time_subjective}}
							<button type="submit" name="seg_subjective" class="btn btn btn-success">批量分析</button>
						</td>
		            </tr>
		            <tr>
		            	<td>【实体术语识别】</td>
		            	<td>
		            		{{times.last_auto_entityTerm_time_choice}}
							<button type="submit" name="entityTerm_choice" class="btn btn btn-success">批量分析</button>
						</td>
						<td>
							{{times.last_auto_entityTerm_time_subjective}}
							<button type="submit" name="entityTerm_subjective" class="btn btn btn-success">批量分析</button>
						</td>
		            </tr>
		            <tr>
		            	<td>【词性标注】</td>
		            	<td>
		            		{{times.last_auto_pos_time_choice}}
							<button type="submit" name="pos_choice" class="btn btn btn-success">批量分析</button>
						</td>
		            	<td>
		            		{{times.last_auto_pos_time_subjective}}
							<button type="submit" name="pos_subjective" class="btn btn btn-success">批量分析</button>
						</td>
		            </tr>
		            <tr>
		            	<td>【成分分析】</td>
		            	<td>
		            		{{times.last_auto_bpres_time_choice}}
							<button type="submit" name="bpres_choice" class="btn btn btn-success">批量分析</button>
						</td>
		            	<td>
		            		{{times.last_auto_bpres_time_subjective}}
							<button type="submit" name="bpers_subjective" class="btn btn btn-success">批量分析</button>
						</td>
		            </tr>
		            <tr>
		            	<td>【模板分析】</td>
		            	<td>
		            		{{times.last_auto_template_time_choice}}
							<button type="submit" name="template_choice" class="btn btn btn-success">批量分析</button>
						</td>
		            	<td>
		            		{{times.last_auto_template_time_subjective}}
							<button type="submit" name="template_subjective" class="btn btn btn-success" disabled="disabled">批量分析</button>
						</td>
		            </tr>
		            
		         </tbody>
		     </table>
		</form>
	     <br />

	     {%if success_message%}
	     	<div class="alert alert-success" role="alert">{{success_message}}</div>
	     {%endif%}
	</div>
	

	


</body>
</html>