<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>单句分析-GeoTagger-njunlp</title>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css" />
</head>
<body>
	<script type="text/javascript" src="../static/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/js/myjs/TagParseTree.js"></script>
	<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
	
	
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse navbar-right" >
	  	<div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <a class="navbar-brand" href="{% url 'SingleSentenceAnalyze.views.SentenceAnalyze' %}">GeoTagger-njunlp</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="{% url 'SingleSentenceAnalyze.views.SentenceAnalyze' %}">单句分析</a></li>
	        <li><a href="{% url 'TestPaper.AddTestPaperViews.addTestPaper' %}">添加试题</a></li>
	     	<li><a href="{% url 'TestPaper.BrowseByPaperViews.browseByPaper' %}">选择题（按试卷）</a></li>
	        <li><a href="{% url 'TestPaper.BrowseByTemplateViews.browseByTemplate' %}">选择题（按模板）</a></li>
	        <li><a href="/TestPaper/BrowseByPaper.html?papertype=subjective">主观题（按试卷）</a></li>
	        <li><a href="/TestPaper/BrowseByTemplate.html?papertype=subjective">主观题（按模板）</a></li>
	        <li><a href="/TestPaper/SearchText.html">搜索试题</a></li>
	        <li><a href="/TestPaper/AutoBatchAnalyze.html">批量自动分析</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	
	<div> &nbsp;</div>
	<div class="page-header">
	  	<h1>单句分析</h1>
	</div>
	
	<div class="container" margin="100">
		
		<form method='POST' onsubmit="return checkSentence();">
			<div class="input-group input-group-lg" width="50%">
			  <span class="input-group-addon" id="sizing-addon1">试题文本：</span>
			  	  <input name="sentence" id="sentence" type="text" class='form-control' placeholder='在此输入待分析文本' value="{{sentence}}" />
				  <span class="input-group-btn">
			      <button id="analyze_btn" class="btn btn-default" type="submit">分析</button>
		      </span>
			</div>
		</form>
	
		<script>
			function checkSentence(){
				var sentence=document.getElementById("sentence").value;
				if(sentence==""){
					alert("请输入待分析的句子！");
					document.getElementById("sentence").style.background="#FFAAAA";
					return false;
				}
				document.getElementById("sentence").style.background="#FFFFFF";
				return true;
			}
		</script>

		
		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading">分析结果：</div>

		  <!-- Table -->
		  <table class="table">
		  	<tr>
		  		<td width="30%">分词：</td>
		  		<td id="segres" width="70%"> {{segres}}</td>
		  	</tr>
		  	<tr>
		  		<td width="30%">词性标注：</td>
		  		<td id="posres" width="70%">{{posres}}</td>
		  	</tr>
		  	<tr>
		  		<td width="30%">时间词：</td>
		  		<td id="time" width="70%">{{timeres}}</td>
		  	</tr>
		  	<tr>
		  		<td width="30%">地点词：</td>
		  		<td id="loc" width="70%">{{locres}}</td>
		  	</tr>
		  	<tr>
		  		<td width="30%">数量词：</td>
		  		<td id="quant" width="70%">{{quantres}}</td>
		  	</tr>
		  	<tr>
		  		<td width="30%">专业术语：</td>
		  		<td id="term" width="70%">{{termres}}</td>
		  	</tr>
		  	<tr>
		  		<td width="30%">成分分析：</td>
		  		<td id="bpres" width="70%">
		  			<span id="bpres_text">{{bpres}}<span>
		  		</td>
		  	</tr>
		  	<!--
		  	<tr>
		  		<td width="30%">语义角色标注：</td>
		  		<td id="srlres" width="70%">
		  			<p id="srlres_text">{{srlres}}</p>
		  			<img id="srlres_img" src=""></img>
		  		</td>
		  	</tr>-->
		  </table>

		</div>
		<button type="button" id="showNodeIndexBtn" onclick="showNodeIndexFunc();" class="btn btn-success" style="display:none">隐藏节点序号</button>
	    <div id="bpres_tree_container" style="width:100%;height:500px"></div>		
	</div>
	<script>
		window.onload=PrintTree();
		function PrintTree(){
			var is_ch = /chrome/.test(navigator.userAgent.toLowerCase()); 
			var bpres=document.getElementById("bpres_text").innerText;

			if(bpres==""){
				return;
			}

			iscorrect=validateTree(bpres);
			if(iscorrect){
				createJsTree(bpres);
				showEchartsTree(document.getElementById("bpres_tree_container"),getCompleteEchartsTree(true));
			}
			else{
				alert("句法分析结果有误！")
			}

			document.getElementById("showNodeIndexBtn").style="display:block"
		}		
	</script>

	
</body>
</html>